[submodule "cfgs/vim/pathogen"]
	path = cfgs/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "cfgs/vim/bundle/fugitive"]
	path = cfgs/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "cfgs/vim/bundle/command-t"]
	path = cfgs/vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "cfgs/vim/bundle/gundo"]
	path = cfgs/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "cfgs/vim/bundle/pydoc"]
	path = cfgs/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "cfgs/vim/bundle/conque"]
	path = cfgs/vim/bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "cfgs/vim/bundle/solarized"]
	path = cfgs/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "cfgs/vim/bundle/coffee-script"]
	path = cfgs/vim/bundle/coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:nijotz/scripts.git
[submodule "cfgs/vim/bundle/syntastic"]
	path = cfgs/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "cfgs/vim/bundle/eighty-columns"]
	path = cfgs/vim/bundle/eighty-columns
	url = git@github.com:nijotz/eighty-columns.vim.git
[submodule "cfgs/vim/bundle/airline"]
	path = cfgs/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "cfgs/vim/bundle/vcscommand"]
	path = cfgs/vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim
[submodule "cfgs/vim/bundle/bufexplorer"]
	path = cfgs/vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer
[submodule "cfgs/vim/ultisnips"]
	path = cfgs/vim/bundle/ultisnips
	url = git@github.com:vim-scripts/UltiSnips.git
[submodule "cfgs/vim/bundle/ultisnips"]
	path = cfgs/vim/bundle/ultisnips
	url = git@github.com:vim-scripts/UltiSnips.git
[submodule "cfgs/vim/bundle/ctrlp"]
	path = cfgs/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "cfgs/vim/bundle/snipmate"]
	path = cfgs/vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "cfgs/vim/bundle/bats"]
	path = cfgs/vim/bundle/bats
	url = https://github.com/vim-scripts/bats.vim.git
[submodule "cfgs/vim/bundle/matchtag"]
	path = cfgs/vim/bundle/matchtag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "cfgs/vim/bundle/nerdtree"]
	path = cfgs/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "cfgs/vim/bundle/ctrlp_bdelete.vim"]
	path = cfgs/vim/bundle/ctrlp_bdelete.vim
	url = git@github.com:d11wtq/ctrlp_bdelete.vim.git
