[submodule "cfgs/vim/pathogen"]
	path = cfgs/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "cfgs/vim/bundle/fugitive"]
	path = cfgs/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "cfgs/vim/bundle/snipmate"]
	path = cfgs/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "cfgs/vim/bundle/tasklist"]
	path = cfgs/vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "cfgs/vim/bundle/command-t"]
	path = cfgs/vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "cfgs/vim/bundle/pep8"]
	path = cfgs/vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "cfgs/vim/bundle/pyflakes"]
	path = cfgs/vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "cfgs/vim/bundle/gundo"]
	path = cfgs/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "cfgs/vim/bundle/supertab"]
	path = cfgs/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "cfgs/vim/bundle/pydoc"]
	path = cfgs/vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
