<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AiMaxTokens</key>
	<integer>400000</integer>
	<key>AiModel</key>
	<string>gpt-5.1</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>Custom Color Presets</key>
	<dict>
		<key>tokyonight_moon</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1686274509803922</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1137254901960784</real>
				<key>Red Component</key>
				<real>0.1058823529411765</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921568627452</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45882352941176469</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.55294117647058827</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.76470588235294112</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.46666666666666667</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7803921568627451</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.66666666666666663</real>
				<key>Red Component</key>
				<real>0.50980392156862742</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.75294117647058822</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.9882352941176471</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.52549019607843139</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745098039215681</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.55294117647058827</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.76470588235294112</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.46666666666666667</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7803921568627451</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.66666666666666663</real>
				<key>Red Component</key>
				<real>0.50980392156862742</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.75294117647058822</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.9882352941176471</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.52549019607843139</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.72156862745098038</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.50980392156862742</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.45098039215686281</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29019607843137257</real>
				<key>Red Component</key>
				<real>0.26666666666666672</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49803921568627452</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45882352941176469</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21176470588235291</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14117647058823529</real>
				<key>Red Component</key>
				<real>0.1333333333333333</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.74509803921568629</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.83921568627450982</real>
				<key>Red Component</key>
				<real>0.30980392156862752</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745098039215681</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745098039215681</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21176470588235291</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14117647058823529</real>
				<key>Red Component</key>
				<real>0.1333333333333333</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745098039215681</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.74509803921568629</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.83921568627450982</real>
				<key>Red Component</key>
				<real>0.30980392156862752</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96078431372549022</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745098039215681</real>
				<key>Red Component</key>
				<real>0.78431372549019607</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.46274509803921571</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2470588235294118</real>
				<key>Red Component</key>
				<real>0.1764705882352941</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>C76E03A3-183D-432A-8E97-F33D6EECF76A</string>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_C76E03A3-183D-432A-8E97-F33D6EECF76A</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_C76E03A3-183D-432A-8E97-F33D6EECF76A_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Animate Movement</key>
			<true/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Ansi 0 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Ansi 0 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18431372549019609</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.86274509803921573</real>
			</dict>
			<key>Ansi 1 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18431372549019609</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.86274509803921573</real>
			</dict>
			<key>Ansi 1 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18431372549019609</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.86274509803921573</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Ansi 10 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Ansi 10 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Ansi 11 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Ansi 11 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Ansi 12 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Ansi 12 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7686274509803922</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 13 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7686274509803922</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 13 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7686274509803922</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Ansi 14 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Ansi 14 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96470588235294119</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 15 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96470588235294119</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 15 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96470588235294119</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 2 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 2 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.53725490196078429</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 3 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.53725490196078429</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 3 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.53725490196078429</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82352941176470584</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 4 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82352941176470584</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 4 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82352941176470584</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.82745098039215681</real>
			</dict>
			<key>Ansi 5 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.82745098039215681</real>
			</dict>
			<key>Ansi 5 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.82745098039215681</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.59607843137254901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Ansi 6 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.59607843137254901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Ansi 6 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.59607843137254901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 7 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 7 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 8 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 8 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.086274509803921567</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29411764705882354</real>
				<key>Red Component</key>
				<real>0.79607843137254897</real>
			</dict>
			<key>Ansi 9 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.086274509803921567</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29411764705882354</real>
				<key>Red Component</key>
				<real>0.79607843137254897</real>
			</dict>
			<key>Ansi 9 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.086274509803921567</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29411764705882354</real>
				<key>Red Component</key>
				<real>0.79607843137254897</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96470588235294119</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Background Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Badge Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Badge Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Blend</key>
			<real>0.48748289233576642</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>17.302837611607139</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Bold Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Bold Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Brighten Bold Text</key>
			<true/>
			<key>Brighten Bold Text (Dark)</key>
			<true/>
			<key>Brighten Bold Text (Light)</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Boost (Dark)</key>
			<real>0.0</real>
			<key>Cursor Boost (Light)</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Cursor Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Cursor Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Guide Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Guide Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Cursor Text Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Cursor Text Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<false/>
			<key>Faint Text Alpha</key>
			<real>1</real>
			<key>Faint Text Alpha (Dark)</key>
			<real>0.5</real>
			<key>Faint Text Alpha (Light)</key>
			<real>0.5</real>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Foreground Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Foreground Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Guid</key>
			<string>C76E03A3-183D-432A-8E97-F33D6EECF76A</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Link Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Link Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32116127014160156</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98600882291793823</real>
				<key>Red Component</key>
				<real>0.99697142839431763</real>
			</dict>
			<key>Match Background Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32116127014160156</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98600882291793823</real>
				<key>Red Component</key>
				<real>0.99697142839431763</real>
			</dict>
			<key>Match Background Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32116127014160156</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98600882291793823</real>
				<key>Red Component</key>
				<real>0.99697142839431763</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Minimum Contrast (Dark)</key>
			<real>0.0</real>
			<key>Minimum Contrast (Light)</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>UbuntuMonoDerivativePowerline-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Ligatures</key>
			<false/>
			<key>Normal Font</key>
			<string>FiraCodeNFM-Reg 10</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Selected Text Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Selected Text Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Selection Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Selection Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156862</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<false/>
			<key>Smart Cursor Color (Dark)</key>
			<false/>
			<key>Smart Cursor Color (Light)</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>4</integer>
			<key>Transparency</key>
			<real>0.040000000000000001</real>
			<key>Unicode Normalization</key>
			<integer>0</integer>
			<key>Unicode Version</key>
			<integer>9</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Bright Bold (Dark)</key>
			<true/>
			<key>Use Bright Bold (Light)</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use Cursor Guide (Dark)</key>
			<false/>
			<key>Use Cursor Guide (Light)</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Selected Text Color</key>
			<true/>
			<key>Use Selected Text Color (Dark)</key>
			<true/>
			<key>Use Selected Text Color (Light)</key>
			<true/>
			<key>Use Separate Colors for Light and Dark Mode</key>
			<false/>
			<key>Use Tab Color</key>
			<false/>
			<key>Use Tab Color (Dark)</key>
			<false/>
			<key>Use Tab Color (Light)</key>
			<false/>
			<key>Use Underline Color</key>
			<false/>
			<key>Use Underline Color (Dark)</key>
			<false/>
			<key>Use Underline Color (Light)</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/nick</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
